{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: #333;
        margin: 20px 0;
    }

    .profile-container {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
    }

    .profile-avatar {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-avatar img {
        max-width: 150px;
        max-height: 150px;
        border: 3px solid #ccc;
        border-radius: 50%;
    }

    .profile-info p {
        margin: 10px 0;
        font-size: 16px;
    }

    .profile-info strong {
        font-weight: bold;
    }

    .profile-info a {
        text-decoration: none;
        color: #007bff;
    }

    .profile-info a:hover {
        text-decoration: underline;
    }

    .profile-info .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        text-decoration: none;
        font-size: 16px;
    }

    .profile-info .btn:hover {
        background-color: #0056b3;
    }

    .profile-posts {
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    .post {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .clear {
        clear: both;
    }
</style>

    <h1>Chess Forum - {{ user.username }} Profile</h1>
    <div class="profile-container">
        <div class="profile-info left">
            <div class="profile-avatar">
                <img 
                src="{% if user.photo %} {{ user.photo.url }} {% endif %} " 
                alt="User Avatar">
            </div>

            <p><strong>Nickname:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            
            {% if user.telegram_id %}
                <p><strong>Telegram ID:</strong> {{ user.telegram_id }}</p>
            {% endif %}
            
            {% if user.chess_profile_url %}
                <p><strong>Chess Profile:</strong> <a href="{{ user.chess_profile_url }}" target="_blank">{{ user.chess_profile_url }}</a></p>
            {% endif %}

            {% if user.bio %}
                <p><strong>Bio:</strong> {{ user.bio }}</p>
            {% endif %}
            
            {% if user.subscriber %}
                <p><strong>Subscriber:</strong> Yes</p>
            {% endif %}

            <p><strong>Joined:</strong> {{ user.date_joined }}</p>
            
        </div>

        {% if user == request.user %}
            <div class="profile-info left">
                <a href="{% url 'users:profile_edit' user.id %}" class="btn btn-primary">Edit Profile</a>
            </div>
            <div class="profile-info left">
                <a href="{% url 'posts:create_post' %}" class="btn btn-primary">Create Post</a>
            </div>
        {% endif %}
    


        <div class="profile-posts right">
            <h1>Posts:</h1>
            {% for post in user_posts %}
            <div class="post">
                <h3>{{ post.title }}</h3>
                {% if post.image %}
                    <p><strong>Image:</strong></p>
                    <img src="{{ post.image.first.image.url }}" alt="{{ post.title }}">
                {% endif %}

                {% if post.game_link %}
                    <p><strong>Game Link:</strong> <a href="{{ post.game_link }}" target="_blank">{{ post.game_link }}</a></p>
                {% endif %}
                <p><strong>Body:</strong> {{ post.body }}</p>
                <p><strong>Date:</strong> {{ post.date_added }}</p>
            

                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'posts:like_post' post.id %}">
                    {% csrf_token %}
                        <button type="submit">
                        {% if post|has_liked_post:user %}
                            Unlike
                        {% else %}
                            Like
                        {% endif %}
                        </button>
                    </form>
                {% endif %}

                <p><strong>Likes:</strong> {{ post.likes.count }}</p>
      
                {% if user == request.user %}
                    <a href="{% url 'posts:edit_post' post.id %}" class="btn btn-primary">Edit</a>
                {% endif %}

            </div>
            {% endfor %}
            <div class="profile-posts left">
                <h3>Liked Posts:</h3>
                {% for post in liked_posts %}
                <div class="post">
                    <h4>Title: {{ post.title }}</h4>
                    <p><a href="{% url 'users:profile' post.user.id %}">Profile of {{ post.user.username }}</a></p>
                </div>
                {% endfor %}
            </div>
            <div class="profile-posts left">
                <h3>Discussions:</h3>
                <ul>
                    {% for discussion in user_discussions %}
                    <li><a href="{% url 'discussions:discussion_detail' discussion.id %}">{{ discussion.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>


        </div>
        
        <div class="clear"></div>
    </div>
{% endblock %}
