{% extends "base.html" %}

{% block content %}


  <h1>Discussion title: {{ discussion.title }}</h1>
  Discussion author:
  <a href="{% url 'users:profile' discussion.author.id %}">
     {{ discussion.author }}
  </a>
  <p>Discussion text:{{ discussion.text }}</p>
  {% if discussion.image %}
    <img src="{{ discussion.image.url }}" alt="{{ discussion.title }}" />
  {% endif %}

  {% if user.is_authenticated %}
  {% if user == discussion.author and not discussion.closed %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="close_discussion">Close discussion</button>
    </form>
  {% endif %}
{% endif %}

{% if not discussion.closed %}
  {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Create Reply</h2>
      {{ reply_form.as_p }}
      <button type="submit">Submit Reply</button>
    </form>
  {% endif %}
  {% else %}
    <b>This discussion is closed and no further replies are allowed.</b>
  {% endif %}
  


  <hr>
  <h2>Replies</h2>
  {% if replies %}
    <ul>
      {% for reply in replies %}
        <li>
          <a href="{% url 'users:profile' reply.author.id %}">
            {{ reply.author }}
          </a>
          <br>
          {{ reply.text }}
          <br>
          {% if reply.image %}
            image:
            <br>
            <img src="{{ reply.image.url }}" alt="{{ reply.title }}" />
          {% endif %}
          <br>
          <span>Like Count: {{ reply.likes.count }}</span>
          {% if not discussion.closed %}
            <form method="post">
              {% csrf_token %}
              {% if user.is_authenticated %}
                  <input type="hidden" name="reply_id" value="{{ reply.id }}">
                  <button type="submit" name="like_reply">Like</button>
              {% endif %}
          </form>
          
          
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No replies yet.</p>
  {% endif %}
  <hr>
  <a href="{% url 'discussions:discussion_list' %}">Back to Discussion List</a>
</div>
{% endblock %}
