{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<style>
    .post {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<h1>All User Posts</h1>

<div>
    <a href="?sort=newest">Newest</a> |
    <a href="?sort=most_likes">Most Likes</a>
</div>

<ul>
    {% for post in posts %}
    <li class="post">
        <a href="{% url 'users:profile' post.user.id %}">
            {{ post.user.username }}
        </a> | Post name: {{ post.title }} 
        <br></br>
        {% if post.game_link %}
        <p><strong>Game Link:</strong> <a href="{{ post.game_link }}">{{ post.game_link }}</a></p>
        {% endif %}

        {{ post.body }}
        <br></br>
        <p><strong>Added :</strong>{{ post.date_added }} </p>
        <br></br>

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'posts:like_post' post.id %}">
          {% csrf_token %}
          <button type="submit">
            {% if post|has_liked_post:user %}
              Unlike
            {% else %}
              Like
            {% endif %}
          </button>
        </form>
      {% endif %}
      <p><strong>Likes:</strong> {{ post.likes_count }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
